    
    {% extends 'base.html' %}

    
    

    {% block content %}
       
            <div class="row">
                <i>{{ queryset.date_published }}</i>
                <br>
                <b>Category: {{ queryset.category }}</b>
                <h1>{{ queryset.title }}</h1>
                <p>{{ queryset.cont }}</p>

                {% for tag in queryset.get_tags %}
                    <i class="badge">{{tag}}</i>
                {% endfor %}
                <br>
                <br>
                <br>
                {% if queryset.image %}
                    <img src="{{ queryset.image.url }}" height="420">
                {% endif %}
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-primary"><a  href="{% url 'contEdit' content_id=queryset.id %}">Edit</a></button>
                <button type="button" class="btn btn-danger"><a  href="{% url 'contDelete' content_id=queryset.id %}">Delete</a></button>
            
            </div>    

       
    {% endblock %}